# Python Tuple – Introduction
A Python tuple is a collection type data structure which is immutable by design and holds a sequence of heterogeneous elements. It functions almost like a Python list but with the following distinctions.

Tuples store a fixed set of elements and don’t allow changes whereas the list has the provision to update its content.
The list uses square brackets for opening and closing whereas, and a tuple has got parentheses for the enclosure.

In [1]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)

A blank tuple: ()

In [2]:
# create a tuple without using round brackets
py_tuple = 33, 55, 77
print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

A tuple set without parenthesis: (33, 55, 77) type: <class 'tuple'>

In [3]:
# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

A tuple of numbers: (33, 55, 77)

In [4]:
# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

A tuple of mixed numbers: (33, 3.3, (3+3j))

In [5]:
# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

A tuple of mixed data types: (33, '33', [3, 3])

In [6]:
# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)

A tuple of tuples: (('x', 'y', 'z'), ('X', 'Y', 'Z'))

In [7]:
# creating a tuple from a list
py_tuple = tuple([33, 55 , 77])
type(py_tuple)

tuple

In [8]:
py_tuple

(33, 55, 77)

In [9]:
py_tuple = (22, 33, 55, 66, [88, 99])
print("Tuple before modificaton:", py_tuple)

Tuple before modificaton: (22, 33, 55, 66, [88, 99])

In [10]:
# Let's try to modify py_tuple
# It'll return a TypeError
try:
    py_tuple[0] = 11
except Exception as ex:
    print("OP(py_tuple[0]) Error:", ex)

OP(py_tuple[0]) Error: 'tuple' object does not support item assignment

In [11]:
# We can change the values of mutable
# elements inside the py_tuple i.e. list
py_tuple[4][0] = 77
py_tuple[4][1] = 88
print("Tuple after modificaton:", py_tuple)

Tuple after modificaton: (22, 33, 55, 66, [77, 88])

In [12]:
py_tuple = (1,2,3,4,5,6,7)

# you can't delete a particular item from a tuple
try:
    del py_tuple[0]

except Exception as ex:
    print("OP(del py_tuple[0]) Error:", ex)

OP(del py_tuple[0]) Error: 'tuple' object doesn't support item deletion

In [13]:
# but you can delete a whole tuple
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) => Error:", ex)

print(py_tuple) => Error: name 'py_tuple' is not defined

# Usage Of Python Tuples
Used For Grouping Data :
The tuple provides a quick way of grouping and arranging data. It can help you combine any number of elements into a single unit.

They can help us representing information in the form of records such as the employee record. A tuple allows us to group related information and use it as a single entity.

In [14]:
emp_records = ('Deepak', 'Data Scientist', 2010, 'Harish', 'Programmar', 2015, 'Himashu', 'Accountant', 2018)
(emp_name, emp_dept, emp_join_date) = emp_records[0:3]

In [16]:
emp_dept

'Data Scientist'

In [18]:
#Returning Tuple from function
def square(n1, n2):
    return (n1*n1, n2*n2)

print((square(2, 3)))

(4, 9)